head
  title Agilearning Math

template(name="layout")
  +navBar
  +yield

template(name="navBar")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="/") Math Agilearning
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav.navbar-nav
            a(href="{{pathFor 'createProblem'}}") Create Problem

        
        ul.nav.navbar-nav.navbar-right  
          li
            +loginButtons


template(name="index")
  .container
    +indexProblemsListBlock
    
template(name="indexProblemsListBlock")
  .problemsList
    each problems
      +indexProblemBlock
  

template(name="indexProblemBlock")
  .problemInfo(width="25%")
    hr
    +mathjax
      +markdown
        {{problem}}

    a.btn.btn-default(href="{{pathFor 'solveProblem' pid=_id}}") Make a Solution
    a.btn.btn-default(href="{{pathFor 'solutions' pid=_id}}") Watch Solutions
    hr


template(name="problemCreator")
  .container
    hr
    +problemPreview
    hr
    +quickForm id="mathProblem" schema="MathProblemsSchema" type="method" meteormethod="createProblem" 
    hr
  
template(name="problemPreview")
  +mathjax
    +markdown
     {{previewProblem}}
  
  input.previewBtn.btn.btn-default(value="Preview")



template(name="problemSolver")
  .container
    hr
    +mathjax
      +markdown
       {{previewProblem}}
    hr
    h3 Solution:
    
    +mathjax
      +markdown
       {{previewSolution}}

    input.previewSolBtn.btn.btn-default(value="Preview Solution")

    hr
    //- +autoForm id="matSolution" schema="MathSolutionsSchema" type="method" meteormethod="createSolution" 
    //-   .form-group 
    //-     label.control-label {{afFieldLabelText name='problemId'}}
    //-     +afFieldInput name='problemId' value=problemId
    +quickForm id="mathSolution" schema="MathSolutionsSchema" type="method" meteormethod="createSolution" doc=quickFormData  
    

template(name="solutions")
  .container
    hr
    +mathjax
      +markdown
       {{previewProblem}}
    hr
    h3 Solutions: 
    each solutions
      hr

      +mathjax
        +markdown
          {{solution}}


      +autoForm id="solutionScore" schema="MathSolutionScoresSchema" type="method" meteormethod="scoreSolution" template="bootstrap3-inline"
        +afFieldInput name='solutionId' value=_id
        +afFieldInput name='score'
        button.btn.btn-primary(type="submit") Give a Score
        
      hr

    